<div class="card">
    <div class="card__inner" (click)="flip($event)">
        <div class="card__face card__face--front">
            <div class="card__content">
                <div class="card__header">
                    <div class="planet-icon" [ngClass]="planet.color"></div>
                    <div class="planet-name">{{ planet.name }}</div>
                </div>
                <div class="card__body">
                    <app-planet-production [item]="planet.production"></app-planet-production>
                    <app-planet-storage [items]="planet.storage" [discoveredItems]="discoveredItems"></app-planet-storage>
                </div>
                <div class="card__footer">
                    <div class="upgrade-block">
                        <button class="btn" (click)="upgrade_production($event)">
                            <fa-icon [icon]="production"></fa-icon>
                        </button>
                        <button class="btn" (click)="upgrade_storage($event)">
                            <fa-icon [icon]="storage"></fa-icon>
                        </button>
                        <button class="btn" (click)="discover($event)">
                            <fa-icon [icon]="search"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card__face card__face--back">
            <div class="card__content">
                <div class="card__header">
                    <div class="planet-icon" [ngClass]="planet.color"></div>
                    <div class="planet-name">{{ planet.name }}</div>
                </div>
                <div class="card__body">
                    <app-planet-fleet [fleet]="planet.fleet"></app-planet-fleet>
                    <app-planet-travel [fleet]="planet.fleet" [discoveredPlanets]="discoveredPlanets"></app-planet-travel>
                </div>
                <div class="card__footer">
                    <div class="upgrade-block">
                        <button class="btn" (click)="upgrade_units($event)">
                            <fa-icon [icon]="production" ></fa-icon>
                        </button>
                        <button class="btn" (click)="upgrade_speed($event)">
                            <fa-icon [icon]="speed"></fa-icon>
                        </button>
                        <button class="btn" (click)="upgrade_acceleration($event)">
                            <fa-icon [icon]="acceleration"></fa-icon>
                        </button>
                        <button class="btn" (click)="upgrade_volume($event)">
                            <fa-icon [icon]="volume"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>