@use '../../../assets/variables.scss';

.card {
  width: 400px;
  height: 600px;
  perspective: 1000px;
}

.card__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card__inner.is-flipped {
  transform: rotateY(180deg);
}

.card__content {
  width: 100%;
  height: 100%;
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  background-color: variables.$bg-light;
}

.card__face--back {
  transform: rotateY(180deg);
}

.card__header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom left, variables.$primary 0%, variables.$secondary 50%);
  z-index: 1;
  border-radius: 0px 0px 50% 0px;
}

.card__header {
  position: absolute;
  top:0;
  height: 90px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  column-gap: 1em;
  align-items: center;
}

.card__body {
  position: absolute;
  top: 90px;
  bottom: 50px;
  left: 0px;
  right: 0px;
  padding: 10px 30px 10px 30px;

  display: flex;
  flex-direction: column;

  .shrink {
    flex-shrink: 1;
  }
  .grow {
    flex-grow: 1;
  }
}

.card__footer {
  position: absolute;
  bottom:0;
  width: 100%;
  height: 50px;
  background-image: linear-gradient(to bottom right, variables.$primary 0%, variables.$secondary 50%);
  border-radius: 50% 0px 0px 0px;
  z-index: 1;
}

.btn {
  width: 3em;
  height: 3em;
  background-color: rgba(0, 0, 0, 0);
  border: solid; 
  border-width: 1px;
  cursor: pointer;
  color: variables.$available;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-disabled {
  color: variables.$not-available;
}

.upgrade-block {
  position: absolute;
  top:0;
  bottom:0;
  left: 1em;
  right:1em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  direction: ltr;
}

.card__header .planet-name {
  color: variables.$font-light;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}

.card__header .planet-icon {
  display: block;
  object-fit: cover;
  width: 50px;
  height: 50px;
  margin-left: 20px;
  border-radius: 50%;
  z-index: 2;
}