.container {
  height: 100%;
  position: relative;
}

.outer {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  overflow: hidden;
}

.inner {
  max-height: calc(100% - 70px);
  overflow-y : scroll;
}