.content-wrapper {
    position: absolute;
    top: 0;
    right:0;
    left:0;
    min-height: 100vh;
    z-index: 3;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1em;
    row-gap: 1em;
    padding: 1em;
}