$primary: #223346;
$secondary: #090A0F;

$bg-light: #F3F3F3;
$font-light: #F3F3F3;
$bg-dark: #090A0F;
$font-dark: #090A0F;

$available: green;
$not-available: red;

$link: #090A0F;
$link-active: #223346;
$link-border: #090A0F