.container {
  height: 100%;
  position: relative;
}

.outer {
  position: absolute;
  top: 0px;
  bottom: 0px;
  overflow: hidden;
}

.inner {
  max-height: calc(100% - 70px);
  overflow-y : scroll;
}

dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0
}
dt {
    float: left;
    width: 30%;
    padding: 0;
    margin: 0
}
dd {
    float: left;
    width: 70%;
    padding: 0;
    margin: 0
}